@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
*{
    margin: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(rgb(0, 229, 255),rgb(27, 27, 27));
    height:100px;
    border: 3px black solid;
    border-radius: 10px;
    

}
header a{
    width: 100px;
    height: 100px;
    background-image: url(./img/github/github.png);
    background-position: center;
    background-size:cover;
    transition:0.5s;

}
header img{
    width: 100px;
    transition: 0.5s;
}
header img:hover{
    scale:1.2 1.2;
    transition: 0.5s;
}
header a:hover{
    background-image: url(./img/github/github_dyna.png);
    transition:0.5s;
}
header h1{
    font-family: "Anton",sans-serif ;
    color:rgb(255, 255, 255);
    font-size: 50px;
    transition:  all 0.5s;
}
header h1:hover{
    color:black;
    scale:1.2  1.2 ;
}
.information{
    display:flex;
    justify-content: space-around;
    height: 700px;
}

.moi li{
   color:red;
   font-size: 25px;
   font-family: "Anton",sans-serif ;
   
}
.moi p{
    color:blue;
    font-size: 20px;
    font-family: "Anton",sans-serif ;
}
.site li{
    color: black;
    font-size: 25px;
    font-family: "Anton",sans-serif ;
    
 }
 .site p{
     color:white;
     font-size: 20px;
     font-family: "Anton",sans-serif ;
 }
 .moi{
    align-self: self-start;
    background-color: black;
   
   
 }
 .site,.moi{
    border-radius: 10px 5px;
    width:max-content;
    text-align: center;
    transition: all 0.5s;
 }
 .site h2,.moi h2{
   font-size: 50px;
   font-family: "Sixtyfour Convergence", sans-serif;

 }
 .site{
    align-self:self-end ;
    background-color:brown;
 }
.présentation{
    font-size: 50px;
    font-family: "Anton",sans-serif ;
    width: min-content;
    margin: 20px auto;
    color: black;
    border-radius: 10px;
    background-color: turquoise;
}
.présentation:hover{
    color:white;
    transition: all 0.5s;
}
.information a{
    font-weight: 900;
    text-decoration: none;
}
.information a:hover{
    text-decoration:underline;
}
.py{
    color:palegreen;
}
.js{
    color: yellow;
}
.scrath{
    color:orange;
}
.Visual{
    color:blue;
}
.Git{
    color: gray;
}
.site:hover{
    scale:1.2 1.2;
  
}
.moi:hover{
  scale:1.2 1.2;
 
}
 
 
